{% extends 'home.html' %} {% block content %}

<div class="stuffs">
    <h2 class="center"> ABOUT US </h2>
    <div class="container">
        <div class="offerings">
            <div class="col-50">
                <h2 class="center">Mission</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quisquam aliquam fuga veritatis harum fugit, dicta, sequi placeat adipisci iure unde magnam corporis deserunt et, explicabo nesciunt, molestias id dolorum.
            </div>
            <div class="col-50">
                <h2 class="center">Vision</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum porro, voluptate cupiditate sed vitae asperiores libero, temporibus nostrum soluta voluptatem officiis autem officia odit eius placeat possimus quidem odio laboriosam.
            </div>
        </div>
        <div class="offerings">
            <div class="col-50">
                <h2 class="center">Daljeet Kaur</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quod consectetur architecto reprehenderit sit officiis rerum, asperiores quam dolores fuga vel molestias nam veritatis quis accusantium nihil, porro non! Perferendis.
            </div>
            <div class="col-50">
                <h2 class="center">Nitesh Batra</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque minus perspiciatis dolor porro distinctio autem sed eius ut illo, esse eveniet sequi obcaecati et ipsum, doloribus, commodi fugit architecto vitae!
            </div>
        </div>
        <br>
        <br>
        <footer class="copy-rights">
            &copy; The Mindful Initiative
        </footer>
    </div>
</div>

{% endblock %}
