{% extends 'home.html' %} {% block content %}

<div class="stuffs">
    <h2 class="center"> BLOG </h2>
    <div class="container">
        <div class="offerings">
            <div class="col-50">
                <div class="blog">
                    <h2 class="center blg">Blog 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quisquam aliquam fuga veritatis harum fugit, dicta, sequi placeat adipisci iure unde magnam corporis deserunt et, explicabo nesciunt, molestias id dolorum.
                    </p>
                </div>
            </div>
            <div class="col-50">
                <div class="blog">
                    <h2 class="center blg">Blog 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum porro, voluptate cupiditate sed vitae asperiores libero, temporibus nostrum soluta voluptatem officiis autem officia odit eius placeat possimus quidem odio laboriosam.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <footer class="copy-rights">
            &copy; The Mindful Initiative
        </footer>
    </div>
</div>


{% endblock %}
