{% extends 'home.html' %} {% block content %}
<div class="stuffs">
    <h2 class="center">OUR OFFERINGS</h2>
    <div class="container">
        <div class="offerings">
            <div class="col-50">
                <img src="http://economictimes.indiatimes.com/thumb/msid-53043616,width-640,resizemode-4/slideshows/corporate-industry/10-best-companies-to-work-for-in-india-this-year.jpg" width="100%;">
            </div>
            <div class="col-50">
                <br>
                <br>
                <section class="container">
                    <div id="card">
                        <figure class="front">1</figure>
                        <figure class="back">2</figure>
                    </div>
                </section>
            </div>
        </div>
        <div class="offerings">
            <div class="col-50">
                <br>
                <br>
                <center>
                    <span class="block">Developing Leaders</span>
                </center>
                <p class="justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quaerat, illo commodi maxime quo aspernatur debitis asperiores aliquid excepturi eos vitae amet dicta aut autem iusto minus similique perspiciatis iste.
                </p>
                <p class="jusify">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptas, vel! Molestiae nobis ad, dolorem mollitia delectus illo eum, pariatur, dolores rerum ipsa deleniti hic harum cupiditate est. Id, debitis.</span>
                    <span>Quam fugit ad voluptates minima culpa error numquam expedita provident, explicabo dolorum quibusdam qui odit ipsa dolores! Recusandae reprehenderit reiciendis repellat, numquam laudantium iusto vero facere cumque, atque quidem autem.</span>
                    <span>Libero hic, laudantium id itaque, dicta delectus temporibus impedit provident modi dolor aspernatur explicabo soluta nulla aliquam quia sunt facere ab a reiciendis omnis numquam officia. Perferendis animi ullam ratione.</span>
                    <span>Rerum, corrupti, aperiam! Unde rem officiis placeat vel, labore similique nesciunt aspernatur quam, excepturi impedit, consequatur suscipit. Sed quo, dicta illo reiciendis illum quia, inventore hic eius explicabo tempora. Doloremque!</span>
                </p>
            </div>
            <div class="col-50">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/54/00/ce/5400ce7a35c0f63a34fcd6e347ca7657.jpg" width="100%;">
            </div>
        </div>
        <div class="offerings">
            <div class="col-50">
                <img src="https://thejoyofglory.files.wordpress.com/2014/07/3f229a5.jpg" width="100%;">
            </div>
            <div class="col-50">
                <br>
                <br>
                <center>
                    <span class="block">Coaching Managers</span>
                </center>
                <p class="justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quaerat, illo commodi maxime quo aspernatur debitis asperiores aliquid excepturi eos vitae amet dicta aut autem iusto minus similique perspiciatis iste.
                </p>
                <p class="jusify">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptas, vel! Molestiae nobis ad, dolorem mollitia delectus illo eum, pariatur, dolores rerum ipsa deleniti hic harum cupiditate est. Id, debitis.</span>
                    <span>Quam fugit ad voluptates minima culpa error numquam expedita provident, explicabo dolorum quibusdam qui odit ipsa dolores! Recusandae reprehenderit reiciendis repellat, numquam laudantium iusto vero facere cumque, atque quidem autem.</span>
                    <span>Libero hic, laudantium id itaque, dicta delectus temporibus impedit provident modi dolor aspernatur explicabo soluta nulla aliquam quia sunt facere ab a reiciendis omnis numquam officia. Perferendis animi ullam ratione.</span>
                    <span>Rerum, corrupti, aperiam! Unde rem officiis placeat vel, labore similique nesciunt aspernatur quam, excepturi impedit, consequatur suscipit. Sed quo, dicta illo reiciendis illum quia, inventore hic eius explicabo tempora. Doloremque!</span>
                </p>
            </div>
        </div>
        <div class="offerings">
            <div class="col-50">
                <br>
                <br>
                <center>
                    <span class="block">Promoting Well Being</span>
                </center>
                <p class="justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quaerat, illo commodi maxime quo aspernatur debitis asperiores aliquid excepturi eos vitae amet dicta aut autem iusto minus similique perspiciatis iste.
                </p>
                <p class="jusify">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, voluptas, vel! Molestiae nobis ad, dolorem mollitia delectus illo eum, pariatur, dolores rerum ipsa deleniti hic harum cupiditate est. Id, debitis.</span>
                    <span>Quam fugit ad voluptates minima culpa error numquam expedita provident, explicabo dolorum quibusdam qui odit ipsa dolores! Recusandae reprehenderit reiciendis repellat, numquam laudantium iusto vero facere cumque, atque quidem autem.</span>
                    <span>Libero hic, laudantium id itaque, dicta delectus temporibus impedit provident modi dolor aspernatur explicabo soluta nulla aliquam quia sunt facere ab a reiciendis omnis numquam officia. Perferendis animi ullam ratione.</span>
                    <span>Rerum, corrupti, aperiam! Unde rem officiis placeat vel, labore similique nesciunt aspernatur quam, excepturi impedit, consequatur suscipit. Sed quo, dicta illo reiciendis illum quia, inventore hic eius explicabo tempora. Doloremque!</span>
                </p>
            </div>
            <div class="col-50">
                <img src="http://elearning.rcgp.org.uk/file.php/1/Courses/GP_lifestyle/HiRes5339954_small.jpg" width="100%;">
            </div>
        </div>
        <footer class="copy-rights">
            &copy; The Mindful Initiative
        </footer>
    </div>
</div>
{% endblock %}
